
<a href="{{ url }}" {% if class %} class="{{ class }}" {% endif %} {% if key %} key={{ key }} {% endif %} {% if target %} target={{ target }} {% endif %}>
{% block text %}
{{ text }}
{% endblock %}
</a>
